<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Detours" version="4.0.1" targetFramework="native" developmentDependency="true" />
  <package id="glgoo.glog" version="0.4.0.1" targetFramework="native" />
  <package id="glgoo.glog.redist" version="0.4.0.1" targetFramework="native" />
</packages>